@charset "ISO-8859-1";


.container {
	align-items: center;
}

.omikuji {
	background-color: #85bbfe;
	width: 400px;
	height: auto;
	font-size: 1.4rem;
	font-weight: 700;
	margin: 50px;
	padding: 20px;
	text-align: center;
	
}

.numberInput {
	width: 60px;
}

.inputForm {
	border: solid black 5px;
	padding: 10px;
	width: 500px;
}

.blueButton {
	background-color: #117bfd;
	color: white;
	
}